<ion-view>
  <ion-nav-bar class="logoutNavBar">
    <ion-nav-title>
      <header-bar></header-bar>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="appointmentContentContainer">
    <message-bar></message-bar>
    <div id="appointmentContainer">
      <div id="appointmentHeader">
        <img src="img/appointment.svg" id="appointmentListIcon"/>
        <div id="appointmentTitle">Your Appointments</div>
        <hr id="appointmentHr"/>
      </div>
      <div class="centeredAlignContainer">
        <div ng-repeat="appointment in vmAppointment.appointments track by $index" class="appointmentRow" on-tap="vmAppointment.toggleDetailPane($event, appointment)">
          <div class="row appointmentListItem">
            <img src="img/tick.svg" class="tickIcon" ng-if="appointment.appointmentStatus == 'Confirmed'"></img>
            <div ng-if="appointment.appointmentStatus == 'Pending'" class="ion-record appointmentPendingIcon"></div>
            <div class="appointmentTime">{{appointment.appointmentTime}}</div>
            <div class="appointmentDate">{{vmAppointment.formatDate(appointment.appointmentDate)}}</div>
            <div class="appointmentDuration">{{appointment.appointmentDuration}}</div>
            <img src="img/physical.svg" class="physicalIcon"></img>
          </div>
          <div class="appointmentDetailContainer bold" ng-show="appointment.showDetails==true">
            <div class="row block">
              <hr class="appointmentDetailHr"></hr>
            </div>
            <div class="row">
              <div class="col titleBlock leftBlock">
                <b class="smallFont">Location / Address</b><br>
                <span class="appointmentTextBold">{{appointment.appointmentLocation}}</span>
              </div>
              <div class="col titleBlock rightBlock">
                <b class="smallFont">Injury Type</b><br>
                <span class="appointmentTextBold">{{appointment.injuryType}}</span>
              </div>
            </div>
            <div class="row appointmentText smallFont">
              How would you like to proceed with this appointment?
            </div>
            <div class="row buttonRow" ng-if="(appointment.appointmentStatus == 'Pending')">
              <button class="appointmentDetailButton acceptButton">Accept</button>&nbsp;
              <button class="appointmentDetailButton rejectButton">Reject</button>
            </div>
            <div class="row buttonRow" ng-if="(appointment.appointmentStatus == 'Confirmed')">
              <button class="appointmentDetailButton reminderButton">Set Reminder</button>&nbsp;
              <button class="appointmentDetailButton rescheduleButton">Reschedule</button>
            </div>
          </div>
        </div>
      </div>
      <div id="requestButtonContainer">
        <hr class="footerHr"/>
        <button id="requestBookingButton" class="pull-right" on-tap="vmAppointment.requestAppointment()">Request an Appointment</button>
      </div>
    </div>
  </ion-content>
</ion-view>
