<ion-view>
  <ion-nav-bar class="logoutNavBar">
    <ion-nav-title>
      <header-bar></header-bar>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="exerciseContentContainer">
    <message-bar></message-bar>
    <div id="exerciseContainer">
          <div class="exerciseHeading">
            <img src="img/exercises.svg" class="exerciseIcon"></img>
            <div id="exerciseTitle">Excercises</div>
            <hr class="exerciseDividingLine"></hr>
          </div>
          <div class="centeredAlignContainer">
            <div ng-repeat="exercise in vmExercise.exercises track by $index" on-tap="vmExercise.toggleDetailPane($event, exercise)" class="exerciseRow">
              <div class="row exerciseListItem">
                <img src="img/tick.svg" class="tickIconExercise" ng-if="exercise.doExercise()"></img>
                <div class="ion-record exercisePendingIcon" ng-if="!exercise.doExercise()"></div>
                <div class="highlightColor exerciseNameBlock bold">{{exercise.name}}</div>
                <div class="execiceTextColor exerciseDayBlock">Day 2/7</div>
                <img src="img/time.svg" class="timeIcon"></img>
                <div class="exerciseSetBlock">3</div>
              </div>
              <div class="exerciseDetailContainer" ng-show="exercise.showDetails==true">
                <div class="row shiftRight">
                  <hr class="detailDividingHr"></hr>
                </div>
                <div class="row titleBlock">
                  <div class="col exerciseSetDetail"><span class="exerciseSetnRep">{{exercise.sets}}</span><span class="smallFont"> Sets</span></div>
                  <div class="col exerciseRepDetail"><span class="exerciseSetnRep">{{exercise.reps}}</span><span class="smallFont"> Reps</span></div>
                </div>
                <div class="row exerciseVideoContainer">
                  <ion-item id="exerciseVideo">
                    <div class="video-container">
                        <iframe src="{{exercise.url | trustAsResourceUrl}}" frameborder="1" width="100%" height="315"></iframe>
                    </div>
                  </ion-item>
                </div>
                <div class="row">
                  <div class="exerciseDesc">{{exercise.desc}}</div>
                </div>
                <div class="row dailyExerciseRow">
                    <div class="bold dailyRound">Daily rounds completed</div>
                    <div class="exerciseCheckboxGroup">
                      <div class="exerciceCheckboxContainer"><md-checkbox ng-click="vmExercise.selectExerciseCheckbox($event, exercise)" class="exerciseCheckbox" ng-model="exercise.dailyRounds.one">One</md-checkbox></div>
                      <div class="exerciceCheckboxContainer"><md-checkbox ng-click="vmExercise.selectExerciseCheckbox($event, exercise)" class="exerciseCheckbox" ng-model="exercise.dailyRounds.two">Two</md-checkbox></div>
                      <div class="exerciceCheckboxContainer"><md-checkbox ng-click="vmExercise.selectExerciseCheckbox($event, exercise)" class="exerciseCheckbox" ng-model="exercise.dailyRounds.three">Three</md-checkbox></div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
