<div class="navBarTitleContainer">
  <div class="navBarGreyBlock"></div>
  <img class="logo" src="img/buddy-logo.svg" on-tap="vm.toggleLeft()"/>
  <img class="logout" src="img/logout.svg" on-tap="vm.logOut()"/>
</div>
