<ion-view>
  <ion-nav-bar class="loginNavBar">
    <ion-nav-title>
        <div class="navBarTitleContainer">
          <div class="navBarGreyBlock"></div>
          <img class="logo" src="img/buddy-logo.svg"/>
        </div>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="contentContainer">
    <div class="loginContainer">
      <div class="centeredContainer">
        <img src="img/user.png" class="userLogin"></img>
        <div>
          <h3><span class="highlightFirstName">{{vm.client.firstName}}</span><span class="highlightLastName"> {{vm.client.lastName}}</span></h3>
        </div>
          <div class="loginFormContainer">
            <form name="loginForm" novalidate ng-class="{ 'has-error' : loginForm.password.$pristine}">
              <md-input-container id="loginContainer">
                <label for="password">Password</label>
                <input  class="md-input" type="password" required ng-enter="vm.login()" name="password" ng-model="vm.loginData.password"></input>
              </md-input-container>
            <button ng-disabled="loginForm.$invalid" on-tap="vm.login()" class="login-button md-button md-ink-ripple" aria-label="Login" type="submit" id="loginButton">
              <i class="fa fa-arrow-right ng-scope"></i>
              <div class="md-ripple-container">
                <div class="md-ripple md-ripple-placed md-ripple-scaled md-ripple-active"></div>
              </div>
            </button>
            <div ng-show="passwordInvalid==true" class="my-message passwordInvalidMsg">The password is invalid</div>
          </form>
          <div id="changePasswordContainer">
            <span><a href="">Change User</a> | <a href="">Forgot Password</a></span>
          </div>
        </div>
      </div>
  </div>
  </ion-content>
</ion-view>
