<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="leftMenu">
    <ion-header-bar menu-close class="bar-stable leftMenuHeader">
      <div class="menuCloseContainer">
        <img src="img/close-menu.svg" class="menuItemClose"></img>
      </div>
      </ion-header-bar>
    <ion-content>
      <ion-list>
        <div menu-close class="menuItemContainer" ng-click="vm.selectMenuItem('appointments')" ng-class="{'menuItemHighlightContainer':vm.highlightAppointment==true}">
          <button class="md-no-style md-button md-ink-ripple menuItemButton">
            <img src="img/appointments-menu.svg" class="menuIcon"></img>
            <div class="menuTextItem">Appointments</div>
            <i class="ion-arrow-left-b arrowHightlight" ng-if="vm.highlightAppointment==true"></i>
          </button>
        </div>
        <div menu-close class="menuItemContainer" ng-click="vm.selectMenuItem('exercises')"  ng-class="{'menuItemHighlightContainer':vm.highlightExercise==true}">
          <button class="md-no-style md-button md-ink-ripple menuItemButton">
            <img src="img/appointments-menu.svg" class="menuIcon"></img>
            <div class="menuTextItem">Exercises</div>
            <i class="ion-arrow-left-b arrowHightlight" ng-if="vm.highlightExercise==true"></i>
          </button>
        </div>
        <div menu-close class="menuItemContainer" ng-click="vm.selectMenuItem('activityMonitor')" ng-class="{'menuItemHighlightContainer':vm.highlightActivity==true}">
          <button class="md-no-style md-button md-ink-ripple menuItemButton">
            <img src="img/activity-menu.svg" class="menuIcon"></img>
            <div class="menuTextItem">Activity Monitor</div>
            <i class="ion-arrow-left-b arrowHightlight" ng-if="vm.highlightActivity==true"></i>
          </button>
        </div>
        <div menu-close class="menuItemContainer" ng-click="vm.selectMenuItem('services')" ng-class="{'menuItemHighlightContainer':vm.highlightService==true}">
          <button class="md-no-style md-button md-ink-ripple menuItemButton">
            <img src="img/services-menu.svg" class="menuIcon"></img>
            <div class="menuTextItem">Your services</div>
            <i class="ion-arrow-left-b arrowHightlight" ng-if="vm.highlightService==true"></i>
          </button>
        </div>
        <div menu-close class="menuItemContainer" ng-click="vm.selectMenuItem('liveCheckIn')" ng-class="{'menuItemHighlightContainer':vm.highlightLiveCheckin==true}">
          <button class="md-no-style md-button md-ink-ripple menuItemButton">
            <img src="img/livecheckin-menu.svg" class="menuIcon"></img>
            <div class="menuTextItem">Live Checkin</div>
            <i class="ion-arrow-left-b arrowHightlight" ng-if="vm.highlightLiveCheckin==true"></i>
          </button>
        </div>
        <div menu-close class="menuItemContainer menuLastItem" ng-click="vm.selectOtherMenuItem($event)">
          <button class="md-no-style md-button md-ink-ripple menuLastItemButton menuItem">
            <img src="img/settings-menu.svg" id="settingsMenu" name="settingsMenu" class="settingsMenuIcon"/>
            <img src="img/help-menu.svg" id="helpMenu" name="helpMenu" class="helpMenuIcon"/>
          </button>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
