<div id="msgContainer">
  <p>Good morning <span class="highlightColor">{{client.firstName}}</span></p>
  <p>You are <span class="highlightColor">44%</span> through to your recovery</p>
  <p>Return to work is set <span class="highlightColor">24 July (22 days)</span></p>
  <img id="progressImg" src="img/progress.svg"></img>
</div>
