<ion-view>
  <ion-nav-bar class="logoutNavBar">
    <ion-nav-title>
      <header-bar></header-bar>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="fullScreenContainer">
      <p>No data available</p>
      <p>Please check your internet connection and try again.</p>
      <button class="button button-positive" ng-click="checkConnection()">Try again</button>
    </div>
  </ion-content>
</ion-view>
