<div>
  <i class="ion-ios-circle-outline highlightColor bold"></i>
  <div class="line-separator firstLine"></div>
  <i class="ion-ios-circle-outline highlightColor bold secondCircle"></i>
  <div class="line-separator secondLine"></div>
  <i class="ion-ios-circle-outline highlightColor bold thirdCircle"></i>
  <div class="line-separator thirdLine"></div>
  <i class="ion-ios-circle-outline highlightColor bold forthCircle"></i>
  <div class="line-separator lastLine"></div>
  <i class="ion-ios-circle-outline highlightColor bold lastCircle"></i>
</div>
