<ion-view>
  <ion-nav-bar class="logoutNavBar">
    <ion-nav-title>
      <header-bar></header-bar>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="fullScreenContainer">
      <p>Your services page</p>
      <p>Coming soon</p>
    </div>
  </ion-content>
</ion-view>
