/* Empty. Add your own CSS if you like */

/*
 * Nav bar css
 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, fieldset, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: -apple-system, Helvetica, Arial, sans-serif !important;
 }

ion-nav-bar.nav-bar-container {
  left:-15px;
  right:-15px;
  position:absolute;
}

div.navBarTitleContainer {
  background-color:#eaeaea;
  width:100%;
  height:44px;
  position:relative;
}

div.navBarGreyBlock {
  width:50px;
  height:44px;
  background-color:#94999b;
  left:0px;
  top:0px;
  position:relative;
  border: 1px solid #94999b;
}

img.logo {
  height:54px;
  position:absolute;
  top:0px;
  left:44px;
}

.logoutNavBar .navBarGreyBlock {
  width:15px;
  height:44px;
  background-color:#94999b;
  border: 1px solid #94999b;
}

.logoutNavBar .logo {
  height:54px;
  position:absolute;
  top:0px;
  left:10px;
}

img.logout {
  position:absolute;
  right:12px;
  bottom:10px;
  height:25px;
  width:25px;
  z-index:1;
}

/*
 * Login view css
 */
 ion-content.contentContainer {
   background-color: rgb(65, 74, 79);
 }
 div.loginContainer {
   positon:relative;
 }

div.centeredContainer {
  width:100%;
  text-align:center;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
}
#loginContainer label {
  text-align:center;
  ont-size:14px;
  font-weight:bold;
  color: rgb(156, 172, 175) !important;
}
#loginContainer input {
  /*color: rgb(241, 241, 241) !important;
  border-color: rgb(241, 241, 241) !important;*/
  border-bottom:1px solid rgb(156, 172, 175);
  color:rgb(241, 241, 241);
}
#loginContainer.md-input-focused label,
#loginContainer.md-input-has-value label {
  color: rgb(253, 9, 137) !important;
}
#loginContainer.md-input-focused input,
#loginContainer.md-input-has-value input {
  border-color: rgb(253, 9, 137) !important;
}

#loginButton {
  width:300px;
  margin:auto;
  height:40px;
  color:rgb(241, 241, 241);
}

#loginButton .md-ripple-container {
  background-color: rgba(241, 241, 241, 0.0980392);
}
md-input-container label:not(.md-no-float) {
  transform-origin: center center;
}

div.passwordInvalidMsg {
  color: rgb(253, 9, 137);
  text-align:left;
  padding-top:10px;
}

#changePasswordContainer {
  margin-top:10px;
  color:rgb(156, 172, 175);
}

#changePasswordContainer a {
  text-decoration:none;
  color:rgb(156, 172, 175);
}

img.userLogin {
  width:120px;
  height:120px;
  /*
  width:80px;
  height:80px;
  border: 1px solid rgb(156, 172, 175);
  border-radius: 80px;*/
}

.highlightFirstName {
  color:rgb(253, 9, 137);
  font-weight: bold;
}
.highlightLastName {
  color:rgb(156, 172, 175);
  font-weight: bold;
}
.highlightColor {
  color:rgb(253, 9, 137);
}
.greyColor {
  color:rgb(156, 172, 175);
}
.loginFormContainer {
  width:300px;
  margin:auto;
}

/*
 * Appointments view css
 */
 .scrollY {
   overflow-y: scroll !important;
 }

 #msgContainer {
   margin:auto;
   line-height:100%;
   padding-top:20px;
   padding-bottom:20px;
   text-align:center;
   background-color:white;
   color:#414a4f;
   letter-spacing:-.5px;
   font-size:14px;
 }

#appointmentContainer, #exerciseContainer {
  padding-left:10px;
  padding-right:10px;
  text-align:center;
  background-color:#dfe6e8;
  color:#414a4f;
  width:100%;
  overflow-x:hidden;
  overflow-y:visible;
}

#appointmentHeader {
  margin-top:20px;
}

#appointmentListIcon {
  height:30px;
  width:30px;
}

#appointmentTitle {
  font-weight:bold;
  font-size:18px;
  position:relative;
  top:-9px;
  vertical-align:middle;
  display:inline;
}

#appointmentHr {
  margin-top: 0px;
  margin-bottom: 14px;
  border:0;
  border-top: 1px solid #9cacaf;
  height:0;
}

.centeredAlignContainer {
  margin:auto;
  text-align:center;
  width:100%;
  position:relative;
  display:block;
}


#appointmentList, #exerciseList {
  background-color:#dfe6e8;
  padding: 0px;
}

.appointmentButton, .exerciseButton {
  padding:0px !important;
  background-color:white !important;
  border-radius: 0px;
}

.appointmentTime {
  width:35%;
  color:rgb(253, 9, 137);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-top:auto;
  margin-bottom:auto;
  text-align:left;
  padding-left:5px;
}

.appointmentDate {
  width:35%;
  color:#5c6d93;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-top:auto;
  margin-bottom:auto;
  text-align:left;
  padding-left:10px;
}

.appointmentDuration {
  color:#5c6d93;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  width:25%;
  margin: auto 0 auto 10px;
  text-align:left;
}

.appointmentIconContainer {
  position:relative;
  top:5px;
  float:right;
  margin-right:10px;
}

.smallAppointmentIcon {
  width:20px;
  height:20px;
}

.appointmentDetailContainer {
  display:block;
  /* for removing angular material*/
  /*padding-left:10px;*/
  padding-left:5px;
  margin-bottom: 10px;
  position:relative;
  background-color:white;
}

.shiftRight {
  margin-right:10px;
  margin-top:-5px;
}

.detailDividingHr {
  border:0;
  border-top: 1px solid #d8d8d8;
  height:0;
  width:100%;
}

.titleBlock {
  padding-bottom:2px;
  color:#5c6d93;
  line-height: 22px;
}

.appointmentTextBold {
  /*color:#333;*/
  color:rgb(65, 74, 79);
  font-weight:bold;
  font-size: 16px;
  margin:5px auto 5px 0px;
  white-space:normal;
  text-align:left;
}
.appointmentText {
  color:#333;
  line-height: 20px;
  margin-top: 10px !important;
  margin-bottom: 5px;
}

.appointmentDetailButton {
  padding: 0;
  margin: 0;
  text-transform: none;
  line-height: 32px;
  min-height: 32px;
  border-radius: 0px;
  color:rgb(241, 241, 241);
  font-weight:bold;
  font-size:14px;
  padding-left:15px;
  padding-right:15px;
  width: 130px;
}
.acceptButton {
  border-color:#9AD645;
  background-color:#9AD645 !important;
}

.rejectButton {
  border-color:#FCB330;
  background-color:#FCB330 !important;
}

.reminderButton {
  border-color:#5C6D93;
  background-color:#5C6D93 !important;
}

.rescheduleButton {
  border-color: rgb(156, 172, 175);
  background-color: rgb(156, 172, 175) !important;
}

.afterFirstAppointmentRow {
  padding:0px !important;
  margin-top:5px;
}

.footer {
  background-color: #dfe6e8;
}

.footerHr {
  /*
  margin-top: -5px;
  margin-bottom: 14px;*/
  border:0;border-top: 1px solid #9cacaf;
  height:0;
  width:100%;
}

[nav-bar-transition="ios"] [nav-bar="active"] .loginNavBar, [nav-bar-transition="ios"] [nav-bar="entering"] .loginNavBar {
  background-color: black;
  border-bottom: 1px solid rgb(65, 74, 79);
}

[nav-bar-transition="ios"] [nav-bar="active"] .logoutNavBar {
  background-color: black;
  border-bottom: 1px solid white;
}

/*
 * Menu
 */

.leftMenu {
  background-color:rgb(65, 74, 79);
  width:100px;
}

.leftMenuHeader {
  width:100px;
  background-color:black !important;
  border:0;
  vertical-align:middle;
  height:43px;
}

.menuCloseContainer {
  width:100%;
  background-color:black;
  height:44px;
  display:block;
  top:0px;
  margin-left:-5px;
  border:0;
  background-color:#94999b;
  position:absolute;
}

.menuItemClose {
  /*
  margin-top:10px;
  margin-left:20px;
  display:block;
  color:white;*/
  width: 20px;
  height: 20px;
  position: relative;
  left: 10px;
  top: 10px;
}

.menuItemContainer {
  background-color:rgb(65, 74, 79);
  width:100%;
  margin:auto;
  text-align:center;
  border-bottom:1px solid #f1f1f1;
  color: #f1f1f1;
}

.menuItemHighlightContainer {
  background-color:rgb(45, 56, 61);
  width:100%;
  margin:auto;
  text-align:center;
  border-bottom:1px solid #f1f1f1;
  color: white;
}

.menuItemIcon {
  width:40px;
  height:40px;
}

.menuItemButton {
  width:100%;
  margin:auto;
  text-align:center !important;
  line-height:18px;
  text-transform:none;
  height: 80px;
}

.menuLastItem {
  position:absolute !important;
  height:50px !important;
  bottom:0px;
}
.menuLastItemButton {
  width:100%;
  margin:auto;
  text-align:center !important;
  line-height:18px;
  text-transform:none;
}

 body.menu-open .menu-animated {
   transform: translate3d(100px, 0px, 0px) !important;
 }

 body .menu-animated {
   transform: translate3d(0px, 0px, 0px) !important;
 }

 ion-side-menu-content.menu-content.pane.menu-animated {
   /*transform: translate3d(150px, 0px, 0px) !important;*/
 }

 ion-side-menu.menu.menu-left {
   width: 100px !important;
 }

md-list#excerciseList {
  padding: 0px;
}
.execiceTextColor {
  color:#5c6d93;
}

.exerciseDetailContainer {
  display: block;
  padding-left: 10px;
  padding-right:5px;
  margin-bottom: 10px;
  position:relative;
  background-color:white;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.exerciseHeading {
  margin-top:20px;
}

.exerciseIcon {
  width:25px;
  height:25px;
}

#exerciseTitle {
  top: -7px;
  display: inline;
  font-weight: bold;
  font-size: 18px;
  vertical-align: middle;
  position: relative;
}

.exerciseDividingLine {
  top:-5px; border:0; border-top: 1px solid #9cacaf; height: 0; position: relative;
}

.exerciseNameBlock {
  width:60%;
  font-size: 16px;
  margin-top:auto;
  margin-bottom:auto;
  text-align:left;
  margin-right:10px;
}

.exerciseDayBlock {
  width:30%;
  font-weight: bold;
  margin-top:auto;
  margin-bottom:auto;
  text-align:left;
}

.discIcon {
  font-size:21px;
}
.exerciseSetBlock {
  padding-left:5px;
  color:#5c6d93;
  font-weight: bold;
  margin-right: 10px;
  margin-top:auto;
  margin-bottom:auto;
  padding-left:3px;
}
.exerciseSetDetail {
  width:30%;
  display:inline-block;
  font-weight:bold;
  margin-bottom: 10px;
  text-align:left;
}
.exerciseRepDetail {
  display:inline;
  font-weight:bold;
}
.exerciseVideoContainer {
  margin:0 10px 20px 0px;
  overflow:visible;
}
.dailyExerciseRow {
  display:block;
  position:relative;
  text-align:left;
}
.exerciceCheckboxContainer {
  width:30%;
  display:inline-block;
  color: rgb(65, 74, 79);
}
.exerciseCheckbox {
  display:inline;
  font-weight:bold;
  font-size:16px;
  margin: 0px;
}
.dailyRound {
  display:block;
  position:relative;
  text-align:left;
  margin-top:10px;
  color:rgb(92, 109, 147);
}
.exerciseCheckboxGroup {
  display:block;
  position:relative;
  text-align:left;
  margin-bottom:5px;
}
.bold {
  font-weight: bold;
}
.noPadding {
  padding-bottom:0;
}
/*
 * Progress bar styling
*/
.firstLine {
  display: inline-block;width:25%;top: -5px;left: -3px;position: relative;
}
.secondCircle {
  position:relative;left:-6px;
}

.secondLine {
  display: inline-block;width:15%;top: -5px;left: -9px;position: relative;
}
.thirdCircle {
  position:relative;left:-12px;
}
.thirdLine {
  display: inline-block;width:10%;top: -5px;left: -15px;position: relative;
}
.forthCircle {
  position:relative;left:-18px;
}
.lastLine {
  display: inline-block;width:5%;top: -5px;left: -21px;position: relative;
}
.lastCircle {
  position:relative;left:-24px;
}
.appointmentConfirmedIcon {
  font-weight: bold;font-size: 14pt;color: #00ff00;width: 10%;padding-left: 8px;
}

.appointmentPendingIcon {
  font-weight: bold;
  font-size: 12px;
  color: rgb(253, 9, 137);
  width: 22px;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:5px;
  text-align:left;
}
.line-separator {
  height:1px;
  background:#FD0989;
  border-bottom:1px solid #FD0989;
}

.fullScreenContainer {
  margin:auto;
  line-height:100%;
  padding-top:50px;
  text-align:center;
  background-color:#eaeaea;
  color:#414a4f;
  letter-spacing:-.5px;
  font-size:14px;
  height:100%;
}
#requestButtonContainer {
  position:relative;
  top:10px;
  text-align: right;
}
#requestBookingButton {
  font-weight:bold;
  font-size:14px;
  color:rgb(241, 241, 241);
  background-color: rgb(156, 172, 175);
  height: 40px;
  right:-10px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom: 5px;
  padding-top:5px;
  border:none;
  margin-bottom:20px;
}
.appointmentContentContainer, .exerciseContentContainer {
  background-color: #dfe6e8;
}

.appointmentListItem, .exerciseListItem {
  height: 50px;
  background-color: white;
}
.noMarginBottom {
  margin-bottom: 0 !important;
}

/*
 * For appointment list, and exercise list
 */
 md-list-item, md-list-item .md-list-item-inner {
   min-height: 50px;

 }
 md-list-item.md-no-proxy, md-list-item .md-no-style {
   padding:0;
 }

.tickIcon {
  width:25px;
  height:25px;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:2px;
}
 .timeIcon {
   width:20px;
   height:20px;
   margin-top:auto;
   margin-bottom:auto;
   margin-right:0;
 }
.physicalIcon {
  width:30px;
  height:30px;
  margin:auto 5px auto 0;
}
.exerciseListItemInner {
  padding-left:10px;
  padding-right:5px;
}
.menuTextItem {
  top: -5px;
  position: relative;
  font-size: 10px;
  font-weight: bold;
}
.menuItem {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

ion-list > div.list {
  height: 100%;
}
.menuIcon {
  height: 30px;
  width: 30px;
}
.settingsMenuIcon {
  width:20px;
  height:20px;
  display:inline-block;
}
.helpMenuIcon {
  width:20px;
  height:20px;
  display:inline-block;
  margin-left:10px;
}

/*
 * to override ionic css for menu item
 */
.item {
  padding: 0px !important;
  border-width: 0px;
  border-style: none;
}

.appointmentDetailHr {
  border: 0;
  border-top: 1px solid #d8d8d8;
  height: 0;
  margin:auto 10px auto 0px;
}

i.fa.fa-arrow-right.ng-scope {
  font:normal normal normal 14px/1 FontAwesome !important;
  color:rgb(156, 172, 175);
}

.smallFont {
  font-size:12px;
}
button.md-no-style.md-button.md-ink-ripple {
  border-radius: 0;
}
.exerciseDesc {
  display:block;
  white-space:normal;
  text-align:justify;
  overflow:visible;
  color:rgb(65, 74, 79);
}

/*
 * For the exercise checkbox. override md-checkbox settings
 */
 md-checkbox.md-checked .md-icon {
   border-width: 2px;
   border-style: solid;
   border-color: rgba(0, 0, 0, 0.54);
 }
 md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-icon {
   background-color: white;
 }
 md-checkbox.md-default-theme.md-checked, md-checkbox.md-checked .md-icon:after {
   border-color: #9AD645;
 }
 md-checkbox.md-checked .md-icon:after {
   left: 4px;
   top: 0px;
 }

 md-checkbox .md-icon {
   border-radius: 0;
 }
.tickIconExercise {
  width: 25px;
  height: 25px;
  margin-top:auto;
  margin-bottom:auto;
  text-align:left;
  margin-left:5px;
  margin-right:5px;
}
.exercisePendingIcon {
  font-weight: bold;
  font-size: 12px;
  color: rgb(253, 9, 137);
  margin-top:auto;
  margin-bottom:auto;
  text-align:left;
  margin-left:5px;
  margin-right:5px;
  width:15px;
}

/*
 * Makes all md-button are square
 */
.md-button, .md-button .md-ripple-container {
  border-radius: 0px;
}
body.menu-open ion-side-menu-content.menu-animated [nav-bar-transition="ios"] [nav-bar="active"] .navBarGreyBlock {
  display: none;
}
body.menu-open ion-side-menu-content.menu-animated [nav-bar-transition="ios"] [nav-bar="active"] .logo {
  left:0;
}
ion-side-menu-content.menu-animated [nav-bar-transition="ios"] [nav-bar="active"] .navBarGreyBlock {
  display: block;
}
ion-side-menu-content.menu-animated [nav-bar-transition="ios"] [nav-bar="active"] .logo {
  left:10px;
}
.arrowHightlight {
  position: absolute;
  right: 0;
  top: 30px;
}
#progressImg {
  width: 80%;
}
.exerciseSetnRep {
  font-size:16px;
  color:#414a4f;
}
.leftBlock {
  display:inline-block;
  width:50%;
  text-align:left;
  padding-left:0px;
}
.rightBlock {
  display:inline-block;
  margin-left:15px;
  text-align:left;
}
.bold {
  font-weight: bold;
}
.item.activated {
  background-color: white;
  border-color: white;
}
.overflow-scroll > .scroll {
  overflow-y: scroll;
}
.scroll-content {
  overflow-y: scroll;
}
div.appointmentListItem.activated {
  display: block;
  position: relative;
}
.block {
  display:block;
}
.buttonRow {
  display:block;
  position:relative;
  text-align:left;
  height:45px;
}
.appointmentRow, .exerciseRow {
  margin-bottom: 10px;
}
#exerciseVideo {
  width: 100%;
}
